.jugador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-margin{
  margin-right: 60px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.example-radio-button {
  margin: 1px;
}
