<div>
  <mat-form-field style="width:300px;">
    <mat-label>Cancha</mat-label>
    <mat-select [(ngModel)]="selectedCancha" (selectionChange)="cargarReservas()" required>
      <mat-option *ngFor="let cancha of canchas" [value]="cancha">
        {{"Nro. " + cancha.numero + " - " + " " + cancha.tipo}}
      </mat-option>
    </mat-select>
    <mat-hint style="color: #AB2A3E">Seleccioná una cancha para ver las reservas semanales</mat-hint>
  </mat-form-field>
</div>

<app-scheduler *ngIf="complejo != undefined" [complejo]="complejo" [cancha]="selectedCancha"
               [fecha]="selectedFecha" [reservas]="reservas"  [reservaEdicion]="reservaSelect">
</app-scheduler>






