<img style="display: block; margin: auto; height: 255px; width: 100%;" [src]="imagenComplejo" alt="imagen">
<br>
<div style="display: flex; flex-direction: row; align-content: center;">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-icon mat-card-avatar>today</mat-icon>
            <mat-card-title>Reservas confirmadas</mat-card-title>
            <mat-card-subtitle>para el día de hoy</mat-card-subtitle>
        </mat-card-header>
        <br/><br><br>
        <mat-card-content>
            <p class="content-card">#{{cantReservasConf}}</p>
            <br/>
        </mat-card-content>
<!--        <mat-card-actions align="end">
            <button mat-button color="basic" class="title-card">
              Ver detalle
              <mat-icon>arrow_forward</mat-icon>
            </button>
       </mat-card-actions>-->
    </mat-card>

  <mat-card class="example-card1">
    <mat-card-header>
      <mat-icon mat-card-avatar>event_available</mat-icon>
      <mat-card-title>Reservas finalizadas</mat-card-title>
      <mat-card-subtitle>para el día de hoy</mat-card-subtitle>
    </mat-card-header>
    <br/><br><br>
    <mat-card-content>
      <p class="content-card">#{{cantReservasFin}}</p>
      <br/><br>
    </mat-card-content>
<!--    <mat-card-actions align="end">
      <button mat-button color="basic" class="title-card">
        Ver detalle
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>-->
  </mat-card>

  <mat-card class="example-card2">
    <mat-card-header>
      <mat-icon mat-card-avatar>event_busy</mat-icon>
      <mat-card-title>Reservas anuladas</mat-card-title>
      <mat-card-subtitle>para el día de hoy</mat-card-subtitle>
    </mat-card-header>
    <br/><br><br>
    <mat-card-content>
      <p class="content-card">#{{cantReservasAnu}}</p>
      <br/><br>
    </mat-card-content>
<!--    <mat-card-actions align="end">
      <button mat-button color="basic" class="title-card">
        Ver detalle
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-card-actions>-->
  </mat-card>
</div>
