<div style="margin: 0px 20px 20px 20px">
  <div align="center">
    <h1 style="margin-bottom: 5px">Turno Fijo</h1>
    <h2 style="margin-bottom: 20px">{{turnoFijo.jugador.nomYApe}}</h2>
    <h4 style="margin-bottom: 8px"><span class="estilo-detalle">Fecha de alta: </span>{{turnoFijo.fechaAlta}}</h4>
    <h4 style="margin-bottom: 8px"><span class="estilo-detalle">Fecha de vto.: </span>{{turnoFijo.fechaVencimiento}}</h4>
    <h4 style="margin-bottom: 8px"><span class="estilo-detalle">N° de Renovaciones: </span># {{turnoFijo.cantRenovaciones}}</h4>
  </div>
  <br>
  <mat-list style="margin-left: 15px">
    <mat-divider></mat-divider>
    <div mat-subheader>
      <mat-icon mat-list-icon [ngStyle]="{'color': 'green'}">today</mat-icon>
      <span style="margin-right: 10px"></span>
      Reservas confirmadas
    </div>
    <mat-list-item *ngFor="let confirmada of reservasConfirmadas">
      <div mat-line style="margin-left: 35px">{{confirmada.reserva.fecha}}
        <span style="margin-left: 20px"></span>
        <button mat-icon-button #tooltip="matTooltip"
                [ngStyle]="{'color': 'green'}"
                matTooltip="Abonar fecha"
                matTooltipPosition="below"
                matTooltipHideDelay="100"
                class="example-button"
                (click)=abonarFecha(confirmada.reserva)>
          <mat-icon>request_quote</mat-icon>
        </button>
        <span style="margin-left: 15px"></span>
        <button mat-icon-button #tooltip1="matTooltip"
                color="warn"
                matTooltip="Cancelar fecha"
                matTooltipPosition="below"
                matTooltipHideDelay="100"
                class="example-button"
                (click)=cancelarFecha(confirmada.reserva)>
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <div mat-subheader>
      <mat-icon mat-list-icon [ngStyle]="{'color': 'red'}">event_busy</mat-icon>
      <span style="margin-right: 10px"></span>
      Reservas Anuladas
    </div>
    <mat-list-item style="height: 60px" *ngFor="let anulada of reservasAnuladas">
      <div mat-line style="margin-left: 30px">{{anulada.reserva.fecha}}
        <span *ngIf="anulada.pagada" style="margin-left: 10px; color: #1F8A4D">(pagada)</span>
        <span *ngIf="!anulada.pagada" style="margin-left: 10px; color: #AB2A3E">(impaga)</span>
      </div>
      <div mat-line style="margin-left: 30px"><mat-hint>{{anulada.reserva.codigo}}</mat-hint></div>
    </mat-list-item>

    <mat-divider></mat-divider>
    <div mat-subheader>
      <mat-icon mat-list-icon [ngStyle]="{'color': 'orange'}">event_available</mat-icon>
      <span style="margin-right: 10px"></span>
      Reservas finalizadas
    </div>
    <mat-list-item style="height: 60px" *ngFor="let finalizada of reservasFinalizadas">
      <div mat-line style="margin-left: 30px">{{finalizada.reserva.fecha}}
        <span *ngIf="finalizada.pagada" style="margin-left: 10px; color: #1F8A4D">(pagada)</span>
        <span *ngIf="!finalizada.pagada" style="margin-left: 10px; color: #AB2A3E">(impaga)</span>
      </div>
      <div mat-line style="margin-left: 30px"><mat-hint>{{finalizada.reserva.codigo}}</mat-hint></div>
    </mat-list-item>
  </mat-list>
</div>
