<br>
<div>
  <h1><strong>Pagos</strong></h1>
</div>
<br>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">event_available</mat-icon>
      <span style="margin-left: 10px">
      Turnos libres
      </span>
    </ng-template>
    <br>
    <app-turno-libre></app-turno-libre>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">event</mat-icon>
      <span style="margin-left: 10px">
      Turnos Fijos
      </span>
    </ng-template>
    <br>
    <pago-turno-fijo></pago-turno-fijo>
  </mat-tab>
</mat-tab-group>
